*,
body,
html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 115px;
    width: calc(100vw);
    background-color: rgb(255, 44, 188);

}

.nav-secundaria {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4px;
    width: calc(100vw);
    background-color: rgb(255, 44, 188);
    padding: 40px 100px;
    top: 0;
}

.nav-principal div {
    display: flex;
    gap: 20px;
}

.nav-secundaria h4 {
    font-family: Geneva;
    color: white;
    font-size: 20px;
}

.nav-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

.nav-principal img {
    height: 80px;
    filter: grayscale(100%) brightness(0) invert(1);
    /*deixa a logo branca */
}

ul {
    list-style-type: none;
    display: flex;
    gap: 50px;

}

a {
    font-family: verdana;
    color: white;
    text-decoration: none;
    font-size: 23px;
}

a:hover {
    color: rgb(255, 157, 230);
    text-decoration: underline;
}


li,
i,
.nav-principal>img {
    transition: 0.3s ease-in-out;
}

li:hover,
i:hover,
.nav-principal>img:hover {
    transform: scale(1.14);
}

i {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.personagem {
    display: flex;
    width: 80%;
    border-radius: 16px;
    padding: 50px;
    gap: 30px;
    margin-bottom: 50px;
}

.personagem img {
    width: 250px;
    height: auto;
    border-radius: 15px;
}

.personagens {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    gap: 40px;
    font-size: 30px;
    align-items: center;
    width: 100%;
    font-family: georgia;
    color: white;
}

p {
    font-family: redonda;
    font-size: 25px;
}

h2{
    font-family: georgia;
}


::selection {
  background: rgb(255, 157, 230);
  color: rgb(255, 0, 191);
}

.p1{
    background-color: #f831ca;
    box-shadow: 5px 5px 15px rgb(255, 139, 230);
}

.p2{
    background-color: rgb(0, 136, 255);
    box-shadow: 5px 5px 15px rgb(154, 208, 255)
}

.p3{
    background-color: rgb(145, 28, 255);
    box-shadow: 5px 5px 15px rgb(211, 164, 255)
}

.p4{
    background-color: rgb(252, 237, 66);
    box-shadow: 5px 5px 15px rgb(255, 250, 197);
}

.p5{
    background-color: rgb(255, 139, 230);
    box-shadow: 5px 5px 15px rgb(255, 170, 237)
}

.p6{
    background-color: orange;
    box-shadow: 5px 5px 15px rgb(255, 200, 98)
}

.p7{
    background-color: rgb(96, 232, 103);
    box-shadow: 5px 5px 15px rgb(167, 255, 171)
}

.p8{
    background-color: rgb(228, 2, 2);
    box-shadow: 5px 5px 15px rgb(255, 129, 129);
}

.p1 img{
    box-shadow: 0 0 16px 8px rgb(255, 172, 234);
}

.p2 img{
    box-shadow: 0 0 16px 8px rgb(154, 208, 255)

}

.p3 img{
    box-shadow: 0 0 16px 8px rgb(211, 164, 255)
}

.p4 img{
    box-shadow: 0 0 16px 8px rgb(255, 251, 205);
}

.p5 img{
    box-shadow: 0 0 16px 8px rgb(255, 207, 245)

}

.p6 img{
    box-shadow: 0 0 16px 8px rgb(255, 222, 160)
}

.p7 img{
    box-shadow: 0 0 16px 8px rgb(186, 255, 190)
}

.p8 img{
    box-shadow: 0 0 16px 8px rgb(255, 147, 147);
}

@font-face {
  font-family: redonda;
  src: url(fontes/RobotoSlab-VariableFont_wght.ttf) format('truetype');
}