*,
body,
html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 115px;
    width: calc(100vw);
    background-color: rgb(255, 44, 188);

}

.nav-secundaria {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4px;
    width: calc(100vw);
    background-color: rgb(255, 44, 188);
    padding: 40px 100px;
    top: 0;
}

.nav-principal div {
    display: flex;
    gap: 20px;
}

.nav-secundaria h4 {
    font-family: Geneva;
    color: white;
    font-size: 20px;
}

.nav-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

.nav-principal img {
    height: 80px;
    filter: grayscale(100%) brightness(0) invert(1);
    /*deixa a logo branca */
}

ul {
    list-style-type: none;
    display: flex;
    gap: 50px;

}

a {
    font-family: verdana;
    color: white;
    text-decoration: none;
    font-size: 23px;
}

a:hover {
    color: rgb(255, 157, 230);
    text-decoration: underline;
}


li,
i,
.nav-principal>img {
    transition: 0.3s ease-in-out;
}

li:hover,
i:hover,
.nav-principal>img:hover {
    transform: scale(1.14);
}

i {
    color: rgb(255, 255, 255);
    font-size: 20px;
}



/* ===== capa ===== */
.capa {
    height: 100vh;
    background: linear-gradient(to bottom, #ffb6e6, #ffe3f5);
    padding: 60px; 
}

.capa-infor img {
    width: 500px;  
    border-radius: 16px;
    box-shadow: 0 0 16px 8px rgb(255, 134, 225);    
}

.capa-infor {
    display: flex;
    gap: 100px;
    align-items: center;
}

.capa h1 {
  font-size: 60px;
  font-family: 'Barbie';
  white-space: nowrap;
  color: rgb(255, 44, 188);
  text-shadow: 0 0 4px rgb(255, 255, 255) ;
}

.capa p {
  margin: 20px 0 55px;
  font-size: 25px;
  color: rgb(255, 0, 174);
  font-family: redonda;
  text-shadow: 0 0 10px rgb(255, 253, 254);
}

.botao {
  padding: 12px 24px;
  border: none;
  background: rgb(255, 44, 188);
  color: hsl(0, 0%, 100%);
  border-radius: 16px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-family: georgia;
  font-size: 15px;
  margin-top: 500px;
}



/* ===== HISTÓRIA ===== */
.historia {
  display: flex; 
  background-color: rgb(255, 157, 230);
  margin-top: 200px;
  padding: 50px;
  align-items: center;
  min-height: 100vh;
}

.historia img{
  width: 30%;
  height: 10%;
  margin-top: 5%;
}

.sobrebarbie{
  display: block;
  color: white;
}

.historia h2 {
  font-size: 4rem;
  margin-top: 0;
  text-align: center;
  color: rgb(255, 44, 188);
  font-family: 'Barbie';
  text-shadow: 0 0 4px rgb(255, 255, 255);

}

.historia p {
  text-align: center;
  font-family: redonda;
  font-size: 1.6rem;
  width: 70%;
  margin: 0 auto; 
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgb(255, 0, 191);
}


/* ===== EVOLUÇÃO ===== */
.evolucao {
  padding: 80px;
  text-align: center;
}

.evolucao h2 {
  color: rgb(255, 44, 188);
  margin-bottom: 40px;
  font-family: 'Barbie';
  font-size: 60px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.card {
  width: 200px;
  padding: 20px;
  border-radius: 12px;
  background: rgb(255, 157, 230);
  color: white;
}

.card h3 {
  margin-bottom: 10px;
  font-family: georgia;
  text-shadow: 0 0 4px rgb(255, 0, 191);
}

.card img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card p{
  font-family: redonda;
}


/* FOOTER */
footer {
  padding: 20px;
  background: rgb(255, 44, 188);
  color: white;
  text-align: center;
}

footer p{
  font-family: georgia;
}


@font-face {
    font-family:'Barbie';
    src: url('Fontes/Angelia\ Beauty.ttf') format('truetype');
}

@font-face {
  font-family: redonda;
  src: url(Fontes/RobotoSlab-VariableFont_wght.ttf) format('truetype');
}
