*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    height: 85px;
    width: 100vw;
    background-color: rgb(255, 44, 188);
}
header img {
    width: 100px;
    height: auto;
    margin-left: 100px;
    margin-top: 10px;
    filter: grayscale(100%) brightness(0) invert(1); /*deixa a logo branca*/
}

ul { 
    list-style-type: none;
    margin: 0 900px 0;
    padding: 40x;
    display: flex;
    justify-content: flex-end;
}

a {
  color: white;
  text-decoration: none;
  font-size: 23px;
}

a:hover {
  color: rgb(255, 157, 230);
  text-decoration: underline;
}

li {
  margin: 20px;
}

main {
background-image: url(imagens/download.jpg);
background-repeat: no-repeat;
height: 100vh;
background-position: center;
background-size: cover;
z-index: 3;
}

h1 {
    color: rgb(255, 44, 188);
    font-size: 100px;
    border-bottom: 3px solid #ffffff;
    margin-left: 100px;
    display: inline-block;
    width: 900px;
    margin-top: 160px;
    font-family:'Barbie';
}

h3 {
    color: #ff0099;
    font-size: 40px;
    width: 700px;
    margin-left: 100px;
    margin-top: 40px;
}

main::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ff00c3;
}
 @font-face {
    font-family:'Barbie';
    src: url('Fontes/Muthiara\ demo\ version.otf') format('opentype');
}

icones img{
    width: 40px;
    height: auto;
    margin-left: 700px;
    margin-top: 20px;

}