*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 115px;
    width: calc(100vw - 25px);
    background-color: rgb(255, 44, 188);

}

.nav-secundaria {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: calc(100vw - 25px);
    background-color: rgb(255, 44, 188);
}

.nav-secundaria h4 {
    font-family: Geneva;
    color: white;
    font-size: 20px;
}

.separador { 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 490px;
}

.separador img {
    height: 260px;
}

ul { 
    list-style-type: none;
    display: flex;
    gap: 50px;
    
}

a {
  font-family: verdana;
  color: white;
  text-decoration: none;
  font-size: 23px;
}

a:hover {
  color: rgb(255, 157, 230);
  text-decoration: underline;
}

li,.icones,header > img {
    transition: 0.3 ease-in-out;
}

li:hover,.icone,header>img:hover {
    transform: scale(1.14);
}

main {
    background-image: url(imagens/listrado\ rosa\ com\ fundo.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    z-index: 3;
}

h1 {
    color: rgb(255, 44, 188);
    font-size: 140px;
    /* margin-left: 530px; */
    display: inline-block;
    width: 900px;
    /* margin-top: 160px; */
    font-family:'Barbie';
}

h3 {
    font-family: Georgia;
    color: #ff0099;
    font-size: 40px;
    width: 700px;
    /* margin-left: 554px;
    margin-top: 40px; */
}

button {
    margin-top: 70px;
    padding: 20px 30px;
    font-size: 30px;
    background-color: rgb(255, 44, 188);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

main::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ff00c3;
}

 @font-face {
    font-family:'Barbie';
    src: url('Fontes/Angelia\ Beauty.ttf') format('truetype');
}


.foto-principal {
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 270px;
    gap: 100px;

}

/* .home div {
    margin-top: 100px;
} */

i {
    color: rgb(255, 44, 188);
    margin-left: 60px;  
    font-size: 2em;
}