*,
body,
html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 115px;
    width: calc(100vw);
    background-color: rgb(255, 44, 188);

}

.nav-secundaria {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4px;
    width: calc(100vw);
    background-color: rgb(255, 44, 188);
    padding: 40px 100px;
    top: 0;
}

.nav-principal div {
    display: flex;
    gap: 20px;
}

.nav-secundaria h4 {
    font-family: Geneva;
    color: white;
    font-size: 20px;
}

.nav-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

.nav-principal img {
    height: 80px;
    filter: grayscale(100%) brightness(0) invert(1);
    /*deixa a logo branca */
}

ul {
    list-style-type: none;
    display: flex;
    gap: 50px;

}

a {
    font-family: verdana;
    color: white;
    text-decoration: none;
    font-size: 23px;
}

a:hover {
    color: rgb(255, 157, 230);
    text-decoration: underline;
}


li,
i,
.nav-principal>img {
    transition: 0.3s ease-in-out;
}

li:hover,
i:hover,
.nav-principal>img:hover {
    transform: scale(1.14);
}

i {
    color: rgb(255, 255, 255);
    font-size: 20px;
}




/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
} */


/* ===== capa ===== */
.capa {
    height: 100vh;
    background: linear-gradient(to bottom, #ffb6e6, #ffe3f5);
    padding: 60px; 
}

.capa-infor img {
    width: 500px;  
    border-radius: 16px;    
}

.capa-infor {
    display: flex;
    gap: 200px;
    align-items: center;
}

.capa h1 {
  font-size: 60px;
  font-family: 'Barbie';
  white-space: nowrap;
  color: rgb(255, 44, 188);
}

.capa p {
  margin: 20px 0;
  font-size: 16px;
  color: white;
}

.capa button {
  padding: 12px 24px;
  border: none;
  background: rgb(255, 44, 188);
  color: hsl(0, 0%, 100%);
  border-radius: 16px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-family: verdana;
  
}


/* ===== HISTÓRIA ===== */
.historia {
  display: flex; 
  background-color: rgb(255, 157, 230);
  margin-top: 200px;
  padding: 50px;
  align-items: center;
}

.historia img{
  width: 30%;
  height: 10%;
  border-radius: 20px;
  box-shadow: 0 0 16px 8px rgb(254, 64, 206);
  margin-top: 10%;
}

.sobrebarbie{
    display: block;
    color: white;
}

.historia h2 {
  font-size: 4rem;
  margin-top: 0;
  text-align: center;
  color: rgb(255, 44, 188);
  font-family: 'Barbie';
}

.historia p {
  font-family: Georgia;
  font-size: 1.7rem;
  width: 50%;
  margin: 0 auto; 
}


/* ===== EVOLUÇÃO ===== */
.evolucao {
  padding: 80px;
  text-align: center;
}

.evolucao h2 {
  color: rgb(255, 44, 188);
  margin-bottom: 40px;
  font-family: 'Barbie';
  font-size: 60px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.card {
  width: 200px;
  padding: 20px;
  border-radius: 12px;
  background: rgb(255, 157, 230);
  color: white;
}

.card h3 {
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 10px;
}


/* ===== FOOTER ===== */
footer {
  padding: 20px;
  background: rgb(255, 44, 188);
  color: white;
  text-align: center;
}


@font-face {
    font-family:'Barbie';
    src: url('Fontes/Angelia\ Beauty.ttf') format('truetype');
}
