*,
body,
html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 115px;
    width: calc(100vw - 15px);
    background-color: rgb(255, 44, 188);

}

.nav-secundaria {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4px;
    width: calc(100vw - 15px);
    background-color: rgb(255, 44, 188);
    padding: 40px 100px;
    top: 0;
}

.nav-principal div {
    display: flex;
    gap: 20px;
}

.nav-secundaria h4 {
    font-family: Geneva;
    color: white;
    font-size: 20px;
}

.nav-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

.nav-principal img {
    height: 80px;
    filter: grayscale(100%) brightness(0) invert(1);
    /*deixa a logo branca */
}

ul {
    list-style-type: none;
    display: flex;
    gap: 50px;

}

a {
    font-family: verdana;
    color: white;
    text-decoration: none;
    font-size: 23px;
}

a:hover {
    color: rgb(255, 157, 230);
    text-decoration: underline;
}

li,
i,
.nav-principal>img {
    transition: 0.3s ease-in-out;
}

li:hover,
i:hover,
.nav-principal>img:hover {
    transform: scale(1.14);
}

.looks {
    display: flex;                 /* coloca os itens (botão – imagem – botão) lado a lado */
    align-items: center;           /* alinha verticalmente no centro */
    justify-content: center;       /* alinha horizontalmente no centro */
    gap: 40px;                     /* espaço entre os itens */
    margin-top: 50px;              /* separa do topo quando NÃO está absolute */
}


.img {
    width: 500px;
    height: 600px;
}

i {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.btn {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: rgb(255, 157, 230);
    border: none;
}

.center {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
}

.armario {
    position: relative; /* vira referência pro absolute ficar por cima dele */
    width: 1500px; 
    border-radius: 16px;
    z-index: 1;          /* garante que ele fique atrás dos looks */
}

@font-face {
    font-family:'Barbie';
    src: url('Fontes/Angelia\ Beauty.ttf') format('truetype');
}

.center h1 {
    position: absolute;
    top: 280px;
    font-family: Barbie;
    font-size: 80px;
    color: rgb(255, 44, 188);
}


.looks {
    position: absolute;
    top: 500px;
    left: 800px;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 2; /* fica por cima */
}
