*,
body,
html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 115px;
    width: calc(100vw - 15px);
    background-color: rgb(255, 44, 188);

}

.nav-secundaria {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4px;
    width: calc(100vw - 15px);
    background-color: rgb(255, 44, 188);
    padding: 40px 100px;
    top: 0;
}

.nav-principal div {
    display: flex;
    gap: 20px;
}

.nav-secundaria h4 {
    font-family: Geneva;
    color: white;
    font-size: 20px;
}

.nav-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

.nav-principal img {
    height: 80px;
    filter: grayscale(100%) brightness(0) invert(1);
    /*deixa a logo branca */
}

ul {
    list-style-type: none;
    display: flex;
    gap: 50px;

}

a {
    font-family: verdana;
    color: white;
    text-decoration: none;
    font-size: 23px;
}

a:hover {
    color: rgb(255, 157, 230);
    text-decoration: underline;
}

li,
i,
.nav-principal>img {
    transition: 0.3s ease-in-out;
}

li:hover,
i:hover,
.nav-principal>img:hover {
    transform: scale(1.14);
}

.looks {
    display: flex;                 /* coloca os itens (botão – imagem – botão) lado a lado */
    align-items: center;           /* alinha verticalmente no centro */
    justify-content: center;       /* alinha horizontalmente no centro */
    gap: 40px;                     /* espaço entre os itens */
    margin-top: 50px;              /* separa do topo quando NÃO está absolute */
}


.img {
    width: 300px;
    height: 500px;
}

i {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(255, 157, 230);
    border: none;
}

.center {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
}

.armario {
    position: relative; /* vira referência pro absolute ficar por cima dele */
    width: 1200px; 
    margin-top: 400px;
    border-radius: 16px;
    z-index: 1;          /* garante que ele fique atrás dos looks */
    box-shadow: 0 0 16px 8px #ff73dc;
    margin-bottom: 300px;
}

@font-face {
    font-family:'Barbie';
    src: url('fontes/Angelia\ Beauty.ttf') format('truetype');
}

.center h1 {
    position: absolute;
    top: 220px;
    font-family: "Barbie";
    font-size: 60px;
    color: rgb(255, 44, 188);
}


.looks {
    position: absolute;
    top: 450px;
    left: 500px;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 2; /* fica por cima */
}

footer {
    margin-top: 200px;
    background: rgb(255, 44, 188);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 16px;
}

footer .redes {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer a {
    color: white;
    font-size: 25px;
    transition: 0.3s;
}

footer a:hover {
    color: #ffe3f5;
    transform: scale(1.2);
}


::selection {
  background: rgb(255, 157, 230);
  color: rgb(255, 0, 191);
}
