*,
body,
html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 115px;
    width: calc(100vw - 15px);
    background-color: rgb(255, 44, 188);

}

.nav-secundaria {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4px;
    width: calc(100vw - 15px);
    background-color: rgb(255, 44, 188);
    padding: 40px 100px;
    top: 0;
}

.nav-principal div {
    display: flex;
    gap: 20px;
}

.nav-secundaria h4 {
    font-family: Geneva;
    color: white;
    font-size: 20px;
}

.nav-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

.nav-principal img {
    height: 80px;
    filter: grayscale(100%) brightness(0) invert(1);
    /*deixa a logo branca */
}

ul {
    list-style-type: none;
    display: flex;
    gap: 50px;

}

a {
    font-family: verdana;
    color: white;
    text-decoration: none;
    font-size: 23px;
}

a:hover {
    color: rgb(255, 157, 230);
    text-decoration: underline;
}

li,
i,
.nav-principal>img {
    transition: 0.3s ease-in-out;
}

li:hover,
i:hover,
.nav-principal>img:hover {
    transform: scale(1.14);
}

i {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

/* linha */

.filmes {
    width: calc(100vw - 15px);
    height: 100%;
    position: relative;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.filmes::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 3px;
    height: 100%;
    background-color: rgb(255, 44, 188);
    transform: translateX(-50%);
}

.filme {
    position: relative;
    width: 50%;
    background: #f1f1f1;
    border-radius: 6px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 156, 234);
    box-shadow: 5px 5px 15px rgb(255, 111, 224);
}

.filme::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 0, 200);
    top: 50%;
    border-radius: 100%;
    z-index: 1;
}

.esquerda {
    left: 0;
    padding: 20px 50px 20px 20px;
}

.direita {
    left: 49.9%;
    padding: 20px 50px 20px 50px;
}

.esquerda::after {right: -13px;}

.direita::after {left: -10px;}

.filmes img {
    height: 200px;
    box-shadow: 0 0 16px 8px rgb(255, 130, 213);
    border-radius: 16px;
}

.infos {
    display: flex;
    flex-direction: column;
    line-height: 1.3em;
    gap: 20px;
}

.infos p {
    font-family: "redonda";
    font-size: 18px;
    color: white;
}

.infos h2 {
    font-family: georgia;
    font-size: 26px;
    color: rgb(255, 44, 188);
}

h1 {
    text-align: center;
    font-family: "Barbie";
    font-size: 60px;
    margin-bottom: 70px;
    margin-top: 50px;
    color: rgb(255, 44, 188);
}


::selection {
  background: rgb(255, 157, 230);
  color: rgb(255, 0, 191);
}

@font-face {
    font-family:'Barbie';
    src: url('Fontes/Angelia Beauty.ttf') format('truetype');
}

@font-face {
  font-family: redonda;
  src: url(fontes/RobotoSlab-VariableFont_wght.ttf) format('truetype');
}
